<div id="desktop-version">
<div class="circle">
    <p>22/06</p>
    <br><p>11:00</p>
</div>
<hr class="hr-right">
<button class="event-name" (click)="toggleSidebar()">
    nume eveniment
</button>
<div class="line"></div>

<div class="middle-circles">
    <p>22/06</p>
    <br><p>11:00</p>
</div>

<hr class="hr-left" style="margin-left: 41%;">
<button class="event-name-left" style="margin-left:16%;">
    nume eveniment
</button>
<div class="line"></div>

<div class="middle-circles">
    <p>22/06</p>
    <br><p>11:00</p>
</div>
<hr class="hr-right">
<button class="event-name">
    nume eveniment
</button>

<div class="line"></div>

<div class="middle-circles">
    <p>22/06</p>
    <br><p>11:00</p>
</div>

<hr class="hr-left" style="margin-left: 41%;">
<button class="event-name-left" style="margin-left:16%;">
    nume eveniment
</button>
<div class="line"></div>

<div class="bottom-circle">
    <p>22/06</p>
    <br><p>11:00</p>
</div>
<hr class="hr-right" style="margin-top: -8.9%;">
<button class="event-name" style="margin-top: -11%; ">
    nume eveniment
</button>
</div>


<div id="mobile-version">
    <div class="circle">
        <p>22/06</p>
        <br><p>11:00</p>
    </div>
    <hr class="hr-right">
    <button class="event-name">
        nume eveniment
    </button>
    <div class="line"></div>
    
    <div class="middle-circles">
        <p>22/06</p>
        <br><p>11:00</p>
    </div>
    <hr class="hr-right">
    <button class="event-name">
        nume eveniment
    </button>
    <div class="line"></div>
    
    <div class="middle-circles">
        <p>22/06</p>
        <br><p>11:00</p>
    </div>
    <hr class="hr-right">
    <button class="event-name">
        nume eveniment
    </button>
    <div class="line"></div>
    
    <div class="middle-circles">
        <p>22/06</p>
        <br><p>11:00</p>
    </div>
    <hr class="hr-right">
    <button class="event-name">
        nume eveniment
    </button>
    <div class="line"></div>
    
    <div class="bottom-circle">
        <p>22/06</p>
        <br><p>11:00</p>
    </div>
    <hr class="hr-right" style="margin-top: -14.5%;">
    <button class="event-name" style="margin-top: -18%; text-align: center; ">
        nume eveniment
    </button>
</div>

<ng-sidebar-container>
    <ng-sidebar [opened]="opened">
    <button class="button-close-sidebar" (click)="toggleSidebar()">
    <div id="myDropdown" class="dropdown-content">
      <a href="#home">Home</a>
      <a href="#about">About</a>
      <a href="#contact">Contact</a>
    </div>
</button>
</ng-sidebar>
</ng-sidebar-container>


