@import "src/variables.scss";
.activities {
    overflow: hidden;
    background-color:$red;
  }

.activities p {
    float: left;
    display: block;
    color: $light-gray;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    margin: 13px 0px 13px 4%;
  }
 